document.bbl
document.fdb_latexmk
document.fls
document.synctex.gz(busy)
pdflatex9012.fls
texts/experiment.aux
texts/experiment.fdb_latexmk
texts/experiment.fls
document.aux
document.blg
document.synctex.gz
