document.bbl
document.fdb_latexmk
document.fls
document.synctex.gz(busy)
pdflatex9012.fls
texts/experiment.aux
texts/experiment.fdb_latexmk
texts/experiment.fls
document.aux
document.blg
document.synctex.gz
document.log
images/old_pics/
images/taichi
texts/abstract.aux
texts/abstract.fdb_latexmk
